.anchor-tag{
    display: flex;
    gap: 30px;
    align-items: center;
}
.anchor-tag a{
    text-decoration: none;
    color: #000;
}

.request-a-quote{
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px 0px;
}

.request-a-quote a{
    color: #000;
    text-decoration: none;
}


/* Ended */

/* Main PArt */

.paragraph{
    font-weight: 600;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

.consultation-btn{
    color: #fff;
    padding: 12px 8px;
    border-radius: 10px;
    letter-spacing: 0.3px;
    text-align: center;
    background-color: #000;
}

.heading-up{
    background-color: #B9FF66;
}



.box-one{
    border: 1px solid #000;
    padding: 15px 20px;
    background-color: #f3f3f3;
}

.heading-content-pl{
    background-color: #B9FF66;
    border-radius: 10px;
    overflow: hidden;
}



.fa-arrow-right{
    color: #B9FF66;
    background-color: #000;
    border-radius: 50%;
    padding: 9px;
    transform: rotate(330deg);
    font-size: 19px;
}




.box-two{
    border: 1px solid #000;
    padding: 15px 20px;
    background-color: #B9FF66;
}

.heading-content-pl{
    border-radius: 10px;
    overflow: hidden;
}




.heading-gh{
    background-color: #B9FF66;
}


.box-one-main{
    border: 1px solid #000;
    background-color: #B9FF66;
    border-radius: 20px;
}


.h{
    border-bottom: 1px solid black;
    padding: 20px 2%;
    width: 90%;
}

.hi{
    background-color: #f3f3f3;
    padding: 20px 2%;
}

.box-t-main{
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #f3f3f3;
}


.para{
    padding: 0px 20px;
}

.responsive{
    display: none;
}


.name input{
    width: 500px;
    border-radius: 8px;
    padding: 6px;
}
.email input{
    width: 500px;
    border-radius: 8px;
    padding: 6px;
}

.message textarea{
   
    width: 500px;
    border-radius: 8px;
    padding: 10px;
    height: 200px;
}

.btn-msg button{
    background-color: #000;
    color: #fff;
    width: 500px;
    border-radius: 8px;
    padding: 8px;
}

.logo-foot{

}
.anchor-foot a{
    color: white;

}


.input-foter-main input{
    border: 1px solid white;
    padding: 15px;
    border-radius: 8px;
    width: 320px;
}

.input-foter-main input{
   background-color: transparent;
}



.btn-under-go button{
    background-color: #B9FF66;
    border: none;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
}


.main-btn-footer{
    background-color: #232323;
    padding: 90px;
    border-radius: 20px;
    margin-top: 60px;
}

.main-port-footer{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}


.container{
    border-top: 1px solid white;
    padding: 30px 0px; 
    width: 98%;
}


.anchor-footer-main-gg{
    padding-left: 30px;
    margin-left: 10px;
}


/* Ended */





/* responsive */


#bar{
    display: none;
}

label{
    display: none;
}



@media (max-width: 788px){


    .request-a-quote{
        display: none;
    }

    .anchor-tag{
        display: none;
    }

    label{
        display: flex;
        font-size: 18px;
        cursor: pointer;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-image img{
        width: 50%;
    }

    .responsive{
        display: block;

    }

    .consultation-btn-container{
        display: none;
    }

    .para-content{
        display: none;
    }   

    .typing-head-par{
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .social-media-img-container{
        flex-wrap: wrap;
    }

    .main-box-section{
        flex-wrap: wrap;
        gap: 30px;
    }

    .heading-para-gh-j{
        flex-wrap: wrap;
    }

    .boxes-main-section{
        flex-wrap: wrap;
    }

    .contact-us-portion{
        flex-wrap: wrap;
    }

    .anchor-foot{
        display: none;
    }

    .navbar-footer{
        flex-wrap: wrap;
    }

    .anchor-footer-main-gg{
        flex-wrap: wrap;
    }
}




/* Ended */